<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="node_modules/next/dist/bin/next" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^node_modules/next/dist/bin/next/debug[\/]?" />
        </rule>

        <rule name="Static" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="^((?!_next).)*$"/>
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            </conditions>
            <action type="None" />
        </rule>

        <rule name="Next" patternSyntax="ECMAScript">
          <match url=".*" />
          <action type="Rewrite" url="node_modules/next/dist/bin/next" />
        </rule>
      </rules>
    </rewrite>
    <iisnode      
        loggingEnabled="true"
        devErrorsEnabled="true"
        node_args="node_modules/next/dist/bin/next"
    />
  </system.webServer>
</configuration>
